// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.post-entry {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: var(--spacer-3);
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center;
}

/* Featured Posts Section */
.featured-posts {
  // background-color: #133337;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 40px;
  // border: 1px inset #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
}

.featured-posts h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  // background: linear-gradient(to right, #007bff, #00d4ff); /* Gradient background */
  // background: linear-gradient(to right, #5a6c75, #7b8a8b); /* Lighter dark blue-grey gradient background */
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add text shadow for depth */
  padding: 10px 20px; /* Add padding around the title */
  border-radius: 8px; /* Add border radius for rounded corners */
  // color: #007bff;
}

/* Banner */
.featured-posts .banner {
  background-color: #5d6d7e; /* Banner background color */
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  top: -20px; /* Adjust to overlap the parent padding */
  left: 0;
  right: 0;
  text-align: center;
}

/* Featured Post Entry */
.featured-posts .post-entry {
  // border: 2px solid #007bff;
  padding: 15px;
  margin-bottom: 20px;
  // border-radius: 8px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Featured Post Title */
.featured-posts .post-title a {
  font-size: 1.0em;
  color: var(--heading-color);
  font-weight: bold;
}

/* Featured Post Meta */
.featured-posts .post-meta {
  font-size: 0.9em;
  color: #6c757d;
}

.page,
.post {
  font-family: var(--text-font);
  margin-bottom: 4em;

  h1, h2, h3, h4, h5, h6, .post-meta {
    font-family: var(--body-font);
  }

  li + li {
    margin-top: .25rem;
  }
}

// project post or page title
.page-title,
.post-title {
  color: var(--heading-color);
}
.page-title,
.post-title {
  margin-top: 0;
}
.post-title a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// Image to the left of the post info
.post-image {
  max-width: 30%;
  margin-right: 20px;
}

.post-image img {
  max-width: 100%; /* Adjust the width to your desired size */
  height: auto;
}

.post-content {
  flex-grow: 1; /* Allow the content to grow and fill the remaining space */
}

// Meta data line below post title
.post-meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: var(--spacer);
  color: var(--gray-600);
}

.comment-count {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
  }
}

// Related posts
.related {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-2);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    small {
      color: var(--gray-600);
    }
  }
}

.post-tags-section {
  display: block;
  padding: var(--spacer) 0;
  color: var(--gray-600);
  font-family: var(--body-font);
}

.post-tags-icon {
  display: inline-block;
  margin-right: var(--spacer);
}

.post-tags {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: var(--spacer);

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--body-bg);
        background-color: var(--link-hover-color);
      }
    }
  }
}

.post-tag {
  padding: .1em .5em;
  border: 1px solid var(--border-color);
  border-radius: .5em;
}
